{% extends "layout.html" %}
{% block content %}
<!-- main 영역 -->
<div class="row">
  <div class="con">
<p></p>
<table class="admin_table">
<tr>
<th style="width:20%">예상보상 등록</th>
<th style="width:80%">위임자 정보 변경(변경값만 입력)</th>
</tr>
<tr>
<td>
<form name="admin1" method="get" action="admin">
<table class="admin_table">
<tr><td>사이클: <input type="text" name="cycle" size="5" value="{{data[0][1]+1}}"/></td></tr>
<tr><td>보상량: <input type="text" name="reward" size="5"/></td></tr>
<tr><td>롤개수: <input type="text" name="roll" size="5"/><input type="hidden" name="opt"/><input type="hidden" name="pw"/></td></tr> 
<tr><td><a href="javascript:go_admin('a');">[입력]</a> <a href="javascript:go_admin('b');">[수정]</a></td></tr>
</table>
</form>
</td>
<td>
<table>
<tr>
<th>이름{{chv}}</th>
<th>사이클</th>
<th>위임량/해제</th>
<th>주소</th>
<th>입력</th>
</tr>
<form name="admin2" method="get" action="admin">
<tr>
<td><input type="text" name="name" size="5"/></td>
<td><input type="text" name="cycle" size="5"/></td>
<td><input type="text" name="bal" size="5"/></td>
<td><input type="text" name="address" size="30"/><input type="hidden" name="opt"/><input type="hidden" name="pw"/></td>
<td><a href="javascript:go_admin('c');">[추가]</a> <a href="javascript:go_admin('d');">[신규]</a> <a href="javascript:go_admin('f');">[해제]</a></td>
<tr>
</form>
</tr>
<tr>
<th>이름</th>
<th>사이클</th>
<th>위임량</th>
<th colspan="2">주소</th>
</tr>
{% for i in data %}
<tr>
<td>{{i[0]}}</td>
<td>{{i[1]}}</td>
<td>{{i[2]}}</td>
<td colspan="2">{{i[3]}}</td>
</tr>
{% endfor %}
</table>
</td>
</tr>
</table>
 </div>
{% endblock %}
