<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> <meta name="viewport" content="width=device-width, initial-scame=1, user-scalable=no">
    <title>야웅베이킹 홈페이지</title>


<script type="text/javascript">
</script>

<style>
a { text-decoration: none; color: #00008B ; }
  #container {
        background: black;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
  }
  #item {
        background: #F0F8FF;
        border: 0px solid #cccccc;
        width: 100%;
        font-size: 25px;
        font-family: "Times New Roman", Times, serif;
  }
  #inner-container {
        border: 0px solid black;
        padding: 1px;
  }
</style>

</head>
<body>
<div id="container">
  <div id='inner-container'>
    <div id='item' align="center">WELLCOME !!!<br/>YAWONG'S Bakery </div>
    <div id='item'><img src="./static/img/cat.png" width="100%"/></div>
    <div id='item' align="center"><a href="list/10">[ Check your reward ]</a></div>
  </div>
</div>
</body>
</html>
