<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./static/css/web.css" />
<link rel="stylesheet" media="(max-width:480px)" href="./static/css/mobile.css" />
</head>
<body>
<!-- header 영역 -->
<div class="header">
  <h1>Yawong's bakery</h1>
</div>
<!-- navigator 영역 -->
<div class="nav">  
  <a href="#"> 야웅베이킹 규칙</a>
  <a href="list/10">개인별 보상 확인 </a>
  <a href="#">사이클 리워드 </a>
</div>
<!-- main 영역 -->
<div class="row">
  <div class="con">
  <div class="card">
{% for row in data %}
    <h2>야웅베이킹은 현재 {{row[0]}}사이클, {{row[1]}} 롤 베이킹 중입니다.</h2>
    <h4>{{row[0]}} 사이클 예상리워드 : {{row[2]}} tz</h4>
{% endfor %}
   <img src="../static/img/cat.png" style="height:200px;width:100%;"/>
    <h5>리워드는 베이킹/인도싱 보상 수령 익일에 지급됩니다.</h5>
       <h5>* 베이커 사정에 의해 몇 일의 지연이 발생할 수 있습니다.</h5>
       <h5>* 천재지변으로 인해 베이킹이 중단될 경우, 보상하지 않습니다.</h5>
     </div>
<div>
<!-- footer 영역 -->
<div class="footer">
  <h3>TzScan: <a href="http://tzscan.io/tz1Zbbuc5Z1ctnCVybqdw7z6FwPjgVufDATc">[바로가기]</a></h3>
</div>
</body>
</html>
