{% extends "layout.html" %}
{% block content %}
<!-- main 영역 -->
<div class="row" style="align:center;">
  <div class="con" >
    <div class="card">
      <h4><img src="../static/img/notice3.png" style="width:100%;"/></h4>
    </div>
    <div class="card" >
    <h3> <font color="#00008B">위임주소 : tz1Zbbuc5Z1ctnCVybqdw7z6FwPjgVufDATc </font><a onClick="javascript:copy();">[Copy]</a></h3>
    <input type="hidden" id="adr" value="tz1Zbbuc5Z1ctnCVybqdw7z6FwPjgVufDATc"/>
    </div>
<div>
{% endblock %}
