{% extends "layout.html" %}
{% block content %}
<!-- main 영역 -->
<div class="row" style="align:center;">
  <div class="con" >
    <div class="card">
      <h4><img src="../static/img/notice3.png" style="width:100%;"/></h4>
    </div>
    <div class="card" >
    <h3> <p style="margin-top:5px; width:95%; text-align:center; font-weight:600; font-size:15px;"><span id="p1" style="text-align:left; display:inline-block; background:#fff; padding:12px 20px;  border:1px solid #ccc;">
      tz1Zbbuc5Z1ctnCVybqdw7z6FwPjgVufDATc</span>
      <span onClick="javascript:copy('#p1');" style="font-size:15px; display:inline-block; padding:12px 45px; background:yellowgreen; border:1px solid #ccc; color:#fff; cursor:pointer; ">COPY</span></p></h3>
    </div>
<div>
{% endblock %}
