{% extends "layout.html" %}
{% block content %}
<!-- main 영역 -->
<div class="row">
  <div class="con">
<h4>
<form name="reward" action="reward" method="post">
<td colspan="6">
보상 사이클 입력:
<input type="text" name="cycle" /> 
<input type="submit" value="GO" />
<a href="javascript:chk()">[관리자]</a>
</h4>
<table>
<tr>
        <th>사이클</th>
        <th>롤수</th>
	<th>롤당 리워드[tz]</th>
        <th>리워드[tz]</th>
	<th>보상지급</th>
</tr>
<input type="hidden" name="opt"/><input type="hidden" name ="pw"/>
{% for row in data %}
<tr>
        {% for col in row %}
            <td>{% if col == 'X' %} 미지급 {% if session['admin'] %} <a href="javascript:go_reward({{row[0]}})">[지불확인]</a> {% endif %}{% elif col == 'O' %} 완료 {% else %} {{col}} {% endif %}</td>
        {% endfor %}
</tr>
{% endfor %}
</table>
</form>
    <h5 style="color:red;">수수료는 리워드의 5.5%입니다.</h5>
 <div>
{% endblock %}
