{% extends "layout.html" %}
{% block content %}
<!-- main 영역 -->
<div class="row">
  <div class="con">
<h4>
<form name="user" action="list" method="get">
<td colspan="6">
보상 사이클 :
<select name="cycle" onchange="javascript:go_user(this)">
<option value="">-----사이클 선택-----</option>
{% for i in data2 %}
<option value="{{i[0]}}" {% if i[0] == cycle or 'i[0]' == cycle %} selected {% endif %}> {{i[0]}} 사이클</option>
{% endfor %}
</select>
</h4>
<table>
<tr>
        <th>이름</th>
        <th>주소</th>
        <th>위임사이클</th>
        <th>위임량[ꜩ]</th>
        <th>사이클별 지분[%]</th>
        <th>보상량[ꜩ]</th>
	<th>보상지급</th>
</tr>
{% for row in data %}
<tr>
        {% for col in row %}
            <td><a href="user_reward?id={{row[1]}}">{% if col == 'X' %} 미지급 {% elif col == 'O' %} 완료 {% else %} {{col}} {% endif %}</a></td>
        {% endfor %}
</tr>
{% endfor %} 
</table>
</form>
    <h5 style="color:red;">수수료는 리워드의 5.5%입니다.</h5>
 <div>
{% endblock %}
