<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/css/web.css" />
<link rel="stylesheet" media="(max-width:480px)" href="../static/css/mobile.css" />

<title>야웅베이킹 개인별 리워드</title>

<script type="text/javascript">
function go(o)
{
location.href="http://coinyawong1984.hopto.org:8306/list/"+ o.value;
}
</script>

</head>

<body>
<!-- header 영역 -->
<div class="header">
  <h1><a href="http://yabaking.ml">Yawong's bakery</a></h1>
</div>
<!-- navigator 영역 -->
<div class="nav">  
  <a href="#"> 야웅베이킹 규칙</a>
  <a href="http://coinyawong1984.hopto.org:8306/list/10">개인별 보상 확인 </a>
  <a href="#">사이클 리워드 </a>
</div>
<!-- main 영역 -->
<div class="row">
  <div class="con">
<h4>
<form name="user" action="list">
<td colspan="6">
보상 사이클 선택 :
<select name="roll" onchange="javascript:go(this)">
<option value="10">-----사이클 선택-----</option>
<option value="10">10 사이클</option>
<option value="11">11 사이클</option>
<option value="12">12 사이클</option>
<option value="13">13 사이클</option>
<option value="14">14 사이클</option>
<option value="15">15 사이클</option>
<option value="16">16 사이클</option>
<option value="17">17 사이클</option>
<option value="18">18 사이클</option>
<option value="19">19 사이클</option>
<option value="20">20 사이클</option>
</select>
</h4>
<table>
<tr>
        <th>이름</th>
        <th>주소</th>
        <th>위임사이클</th>
        <th>위임량</th>
        <th>사이클별 지분[%]</th>
        <th>보상량[tz]</th>
</tr>
{% for row in data %}
<tr>
        {% for col in row %}
            <td>{{col}}</td>
        {% endfor %}
</tr>
{% endfor %}
</table>
</form>
    <h5 style="color:red;">수수료는 리워드의 5.5%입니다.</h5>
 <div>
<!-- footer 영역 -->
<div class="footer">
  <h3>TzScan: <a href="http://tzscan.io/tz1Zbbuc5Z1ctnCVybqdw7z6FwPjgVufDATc">[바로가기]</a></h3>
</div>
</body>
</html>
