{% extends "layout.html" %}
{% block content %}
<!-- main 영역 -->
<div class="row">
  <div class="con">
<h4>
<form name="user" method="get">
<td colspan="6">
{{total[0][0]}}님 <font color="blue"> 지급보상 : 총 {{total[0][1]}} ꜩ
{% if total[0][0]  == '코인야웅' %}
+ 수수료 : 총 {{fee[0][0]}} ꜩ = 합계 : {{total[0][1] + fee[0][0]}} ꜩ
{% endif %}</font>
</h4>
<table>
<tr>
        <th>사이클</th>
	<th>주소</th>
	<th>위임량[ꜩ]</th>
        <th>리워드[ꜩ]</th>
</tr>
{% for row in data %}
<tr>
        {% for col in row %}
            <td>{{col}}</td>
        {% endfor %}
</tr>
{% endfor %}
</table>
</form>
 <div>
{% endblock %}
