body {
  margin: 0px;
  padding: 0px;
}

table {
     border-collapse: collapse;
     width: 100%;
     text-align: center;
}

th, td {
     padding: 10px;
     boder-bottom: 3px solid rgb(27, 204, 180);
}

th {
    background-color: lightblue;
}
tr:hover {
    background-color: gray;
}

a {
    text-decoration: none;
    color: #00008B;
}

.admin_table {
   border-collapse: collapse;
   width: 100%;
   text-align: center;
}

.admin_table th, td {
  padding: 10px;
}

.admin_table th {
  background-color: yellowgreen;
}

.con {
  width: 100%;
  padding: 0;
}

.con_main {
  float: left;
  width: 100%;
  text-align:center;
  background:url(../img/cat2.png);
  height:250px; 
  background-size: 100% 250px;
}
.nav a {
  float: none;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 5px;
  margin-top: 5px;
}
.card h2{
  font-size: 3rem;
  margin-bottom: 3rem;
}
.card h4{
  font-size: 1.8rem;
}
