* {
  box-sizing: border-box;
}

body {
     padding: 10px;
     font-family: sans-serif;
     background: white;
}

table {
     border-collapse: collapse;
     width: 100%;
     text-align: center;
}

th, td {
     padding: 10px;
     boder-bottom: 3px solid rgb(27, 204, 180);
}

th { 
    background-color: lightblue;
}

tr:hover {
    background-color: gray;
}

a {
    text-decoration: none; 
    color: #00008B;
}

.admin_table {
   border-collapse: collapse;
   width: 100%;
   text-align: center;
}

.admin_table th, td {
  padding: 10px;
}

.admin_table th {
  background-color: yellowgreen;
}

.header {
   padding: 5px;
   text-align: center;
   background: white;
}

.header h1 {
 font-size: 20px;
}

.nav {
  overflow: hidden;
  background-color: #000000;
}

.nav a {
  flaot : left;
  color: #ffffff;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}

.con {
  float: left;
  width: 100%;
}

.con_main {
  float: left;
  width: 100%;
  height:505px; 
  text-align:center;
}

.a_img {
  width: 100%;
  padding: 10px;
}

.card {
  background-color: aliceblue;
  padding: 20px;
  margin-top: 20px;
}

.row after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 0px;
  text-align: center;
  background: black;
}
